@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
  margin: 0 auto;
  width: 90%;
  height: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  border: 1px solid black;
}



.swiper-container {
  margin-left: auto;
  margin-right: auto;
}


.result-checker>.pool-numbers input[type="number"] {
  display: block;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;


}

input[type="number"] {
  width: 2rem;
  height: 2rem;
  display: block;
  outline: .0625rem solid rgb(83, 82, 82);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;

}

input[type="number"]:focus {
  outline: 2px solid rgb(42, 37, 37);

}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* All browsers (optional, for consistency) */
input[type=number] {
  appearance: textfield;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}